@model List<AlpineClubBansko.Services.Models.RouteViewModels.RouteViewModel>

@{
    int counter = 0;
}

<div class="col-12">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th scope="col" class="text-center">#</th>
                <th scope="col">Име</th>
                <th scope="col" class="d-none d-lg-table-cell">Маршрут</th>
                <th scope="col" class="d-none d-lg-table-cell">Време</th>
                <th scope="col">Опции</th>
            </tr>
        </thead>
        <tbody>
            @if (Model == null)
            {
                <tr>
                    <td colspan="5" class="col-12 text-muted font-italic text-center align-middle">Няма намерени маршрути</td>
                </tr>
            }
            else
            {
                @foreach (var route in Model)
                {
                    <tr>
                        <th scope="row" class="text-center align-middle">@(++counter)</th>
                        <td class="align-middle">@route.Title</td>
                        <td class="align-middle d-none d-lg-table-cell">
                            @if (route.Locations != null && route.Locations.Count > 0)
                            {
                                @route.Locations.OrderBy(l => l.CreatedOn).First().Name; <span>-></span> @route.Locations.OrderBy(l => l.CreatedOn).Last().Name;
                            }
                        </td>
                        <td class="align-middle d-none d-lg-table-cell">@route.TimeNeeded</td>
                        <td>
                            <ul class="nav  align-content-center">
                                <li class="nav-item"><a class="nav-link " asp-area="" asp-controller="Routes" asp-action="Details" asp-route-id="@route.Id">Разгледай</a></li>
                            </ul>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
    <hr />
    <partial name="_Pagination" />
</div>