@model List<AlpineClubBansko.Services.Models.RouteViewModels.RouteViewModel>

@{ 
    int counter = 0;
}

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Име</th>
            <th scope="col">Маршрут</th>
            <th scope="col">Време</th>
            <th scope="col">Рейтинг</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var route in Model)
        {
        <tr>
            <th scope="row">@(++counter)</th>
            <td>@route.Title</td>
            <td>@route.RoutePoints</td>
            <td>@route.TimeNeeded</td>
            <td>@route.Rating</td>
        </tr>
        }
    </tbody>
</table>