@model AlpineClubBansko.Services.Models.StoryViewModels.StoryViewModel

<div class="row options-nav bg-light shadow-sm" id="optionsNav">
    <div class="col-12 flex-column">
        <h4 class="text-center">@Model.Title</h4>
        <p class="blockquote-footer text-center">Добавен от <a href="/Users/Profile/@Model.Author.Id">@Model.Author</a> на @Model.CreatedOn</p>
    </div>
    <div class="col-lg-4 py-2">
        <div class="text-muted d-flex justify-content-around">
            <span><i class="far fa-eye text-primary"></i> @Model.Views</span> <span><i class="fas fa-comments text-primary"></i> @Model.Comments.Count </span> <span> <i class="far fa-heart text-primary"></i> @Model.Favorite.Count </span>
</div>
    </div>
    <div class="col-lg-8 d-flex align-items-center justify-content-around justify-content-lg-end">
        <span>За повече опции влезте с потребителско име или се регистрирайте</span>
    </div>
</div>