@model AlpineClubBansko.Services.Models.StoryViewModels.StoryViewModel
@using AlpineClubBansko.Data.Models
@using Microsoft.AspNetCore.Identity

@inject SignInManager<User> SignInManager

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid content">
    <hr />
    <vc:story-options model="@Model"></vc:story-options>
    <hr />
    @if (Model.Route != null)
    {
        <div class="row justify-content-center pt-3">
            <span class="font-italic">Настоящата История е изживяна по Прехода <a asp-controller="Routes" asp-action="Details" asp-route-id="@Model.Route.Id">@Model.Route.Locations.OrderBy(l => l.CreatedOn).First().Name <span>-></span> @Model.Route.Locations.OrderBy(l => l.CreatedOn).Last().Name</a></span>
        </div>
        <hr />
    }

    <div class="row pt-3">
        <div class="offset-md-2 col-12 col-md-8">
            @Html.Raw(Model.Content)
        </div>
    </div>

    @if (Model.Album != null)
    {
        <hr />
        <div class="row py-2">
            <ul id="lightSlider" class="cs-hidden">
                @foreach (var photo in Model.Album.Photos)
                {
                    <li data-thumb="@photo.ThumbnailUrl">
                        <a asp-controller="Albums" asp-action="Details" asp-route-id="@photo.AlbumId"><img src="@photo.ThumbnailUrl" /></a>
                    </li>
                }
            </ul>
        </div>
    }

    <hr />
    <div class="row py-2">
        @if (SignInManager.IsSignedIn(User))
        {
            <vc:create-story-comment></vc:create-story-comment>
        }
    </div>
    <div class="row pt-2" id="comments">
        <partial name="_StoryComments" model="@Model.Comments" />
    </div>
    <hr />
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
    <script src="~/lib/lightslider/dist/js/lightslider.js"></script>
    <script>
        $(document).ready(function () {
            $('#lightSlider').lightSlider({
                autoWidth: true,
                loop: true,
                onSliderLoad: function () {
                    $('#lightSlider').removeClass('cs-hidden');
                }
            });
        });
    </script>
    <script>

        $(document).ready(function () {
            $.ajax({
                url: '/Stories/AddViewed',
                type: 'post',
                data: {
                    storyId: '@Model.Id',
                }, success: function (data) {
                    console.log(data);
                    RefreshStats();
                }, error: function (reponse) {
                    console.log("error : " + reponse);
                }
            });
        });

        $('#createComment').submit(function (e) {
            e.preventDefault();

            var tmp = $('#comContent').val();
            if ($("#comContent").valid()) {
                $.ajax({
                    url: '/Stories/CreateComment',
                    type: 'post',
                    data: {
                        storyId: '@Model.Id',
                        content: tmp,
                    }, success: function (data) {
                        $('#comments').html(data).fadeIn();
                        $('#comContent').val('');
                        RefreshStats();
                    }, error: function (reponse) {
                        console.log("error : " + reponse);
                    }
                });
            }
        });

        function DeleteComment(param) {
             $.ajax({
                    url: '/Stories/DeleteComment',
                    type: 'post',
                    data: {
                        commentId: param,
                        storyId: '@Model.Id'
                    }, success: function (data) {
                        $('#comments').html(data).fadeIn();
                        RefreshStats();
                    }, error: function (reponse) {
                        console.log("error : " + reponse);
                    }
                });
        }

        function Favorite() {
            $.ajax({
                url: '/Stories/Favorite',
                type: 'post',
                data: {
                    storyId: '@Model.Id',
                }, success: function (data) {
                    console.log(data);
                    RefreshStats();
                }, error: function (reponse) {
                    console.log("error : " + reponse);
                }
            })
        }

        function RefreshStats() {
            $.ajax({
                url: '/Stories/RefreshStats',
                type: 'get',
                data: {
                    storyId: '@Model.Id',
                }, success: function (data) {
                    $('#optionsNav').replaceWith(data);
                    SetOptionNavH();
                }, error: function (reponse) {
                    console.log("error : " + reponse);
                }
            })
        }
    </script>

}