<div class="row justify-content-center">
    <nav>
        <ul class="pagination">
            <li class="page-item  @((int)ViewData["page"] == 1 ? "disabled" : "")">
                <a class="page-link" href="#" onclick="ChangePage('1')">
                    <i class="fas fa-angle-double-left"></i>
                </a>
            </li>
            <li class="page-item @((int)ViewData["page"] == 1 ? "disabled" : "")">
                <a class="page-link" href="#" onclick="ChangePage('@((int)ViewData["page"] - 1)')">
                    <i class="fas fa-angle-left"></i>
                </a>
            </li>
            @for (int i = 1; i <= (int)ViewData["totalPages"]; i++)
            {
                <li class="page-item @((int)ViewData["page"] == i ? "active" : "")">
                    <a class="page-link" href="#" onclick="ChangePage('@i')">@i</a>
                </li>
            }
            <li class="page-item @((int)ViewData["page"] == (int)ViewData["totalPages"] ? "disabled" : "")">
                <a class="page-link" href="#" onclick="ChangePage('@((int)ViewData["page"] + 1)')">
                    <i class="fas fa-angle-right"></i>
                </a>
            </li>
            <li class="page-item @((int)ViewData["page"] == (int)ViewData["totalPages"] ? "disabled" : "")">
                <a class="page-link" href="#" onclick="ChangePage('@((int)ViewData["totalPages"])')">
                    <i class="fas fa-angle-double-right"></i>
                </a>
            </li>
        </ul>
    </nav>
</div>